{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">

<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
        <link rel="canonical" href="{{ page.url(true, true) }}" /> 
        {% block stylesheets %} 
            {% do assets.addCss('http://yui.yahooapis.com/pure/0.6.0/pure-min.css', 100) %} 
            {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %} 
            {% do assets.addCss('theme://css/bootstrap.css', 98) %} 
        {% endblock %} 
        {{ assets.css() }} 

        {% block javascripts %} 
            {% do assets.addJs('jquery', 101) %} 
            {% do assets.addJs('theme://js/bootstrap.min.js', 100) %} 
        {% endblock %} 
        {{ assets.js() }} 
    {% endblock head%}
</head>

<body id="top" class="{{ page.header.body_classes }} container">

    {% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/">
                    <i class="fa fa-rebel"></i> {{ config.site.title }}
                </a>
            </div>
            
            
            {% block header_navigation %}
            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% include 'partials/navigation.html.twig' %}


                </div>
            {% endblock %}
            
        </div>
    </nav>

    {% endblock %} 
    
    {% block body %}
    <section id="body">
        <div class="wrapper padding">
            {% block content %}{% endblock %}
        </div>
    </section>
    {% endblock %} 
    
    {% block footer %}
    <footer class="footer">
      <div class="container row">
          <div class="col-sm-4">&copy; by Your Name</div>
          <div class="col-sm-4 text-center">
              <a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.
              Design by Bieli Web Team.
          </div>
          <div class="col-sm-4 text-right">Impressum</div>
      </div>
    </footer>
    {% endblock %} 
    
    
    {% block bottom %} 
        {{ assets.js('bottom') }} 
    {% endblock %}

</body>

</html>
